body {
  padding: 0;
  margin: 0;
}

#leafmap {
  position: relative;
  height: 50vh;
  width: 100%;
}

#leaflet {
  position: relative;
  height: 100%;
  width:100%;
  margin-bottom: 5%;
}

#scatter {
  position: relative;
  height: 50vh;
  margin-bottom: 5%;
  width:100%;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}


body::after {
  content: "";
  background: url(http://www.clker.com/cliparts/7/2/4/b/1362484186358113490primary-colors-hi.png);
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: space;
  background-size: 100% 100%;
  position: absolute;
  z-index: -1;   
}


.jumbotron{
  padding-top:30px;
  padding-bottom:30px;
  margin-bottom:30px;
  color:inherit;
  /* background-color:#eee */
  background-image: url("http://www.clker.com/cliparts/7/2/4/b/1362484186358113490primary-colors-hi.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
    /* "pexels-alexander-ant-4585185.jpg"); */
  /* Photo by Alexander Ant from Pexels */
  /* http://www.clker.com/cliparts/7/2/4/b/1362484186358113490primary-colors-hi.png"); */

}

.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:white;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}